<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <hi>Search for users</hi>
        <div style="margin-top: 32px;">
            <input />
        </div>
    </body>
</html>